<div class="container"
    fxLayout="row"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutAlign.gt-md="space-around center"
    fxLayoutGap="10px"
    fxLayoutGap.xs="0">

  <div fxFlex="100">
    <div fxFlex *ngIf="dish" >
      <mat-card *ngIf="dish">
        <mat-card-header>
          <mat-card-title>
            <!-- Task 2.3 Use pipe to uppercase dish.name -->
            <h3 *ngIf="dish" >{{dish.name | uppercase}}</h3>
          </mat-card-title>
        </mat-card-header>
        <img mat-card-image src={{dish.image}} alt={{dish.name}}>
        <mat-card-content>
          <p>{{dish.description}}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button (click)="share()">SHARE</button>

          <button mat-button (click)="goBack()"> Back</button>
          <button mat-button [routerLink]="['/dishdetail', prev]"><span class="fa fa-chevron-left fa-lg"></span></button>

          <span class="flex-spacer"></span>
          <button mat-button [routerLink]="['/dishdetail', next]"><span class="fa fa-chevron-right fa-lg"></span></button>

        </mat-card-actions>


      </mat-card>
    </div>
  </div>

<!-- In this task you will use the comments that are included in the dish object above to
  display a list of the comments for the dish. Please use your JavaScript knowledge to recall
  how you would access an inner property in a JavaScript object that itself points to an array of JavaScript
  objects (comments). This task involves the following steps:

  Use the Angular material list to display the list of comments as shown below. Also apply
  the *ngIf="dish" structural directive to both the <mat-list> that displays the list of comments for the dish.
  Display the date of the comment by processing it through the Angular built-in date pipe. -->

  <div fxFlex="60">

    <div fxFlex *ngIf="dish" >
      <mat-card *ngIf="dish">
        <mat-card-header>
          <mat-card-title>
           <h3>Comments</h3>
          </mat-card-title>
        </mat-card-header>
      <mat-card-content>
          <!-- Task 2.2 Use mat list  -->
          <mat-list>
              <div *ngFor="let comment of dish.comments">
                  <mat-list-item> {{comment.comment + ' '}} <br> </mat-list-item>
                  <mat-list-item> {{comment.rating + ' Stars'}} <br> </mat-list-item>
                  <mat-list-item>  {{comment.author + ' '}}
                  <!-- Task 3.2 Use date pipe  -->
                  {{comment.date | date}}
                </mat-list-item>
                </div>
                  <!-- userpost data after submit btn-->
                  <div *ngIf="this.userpost" >
                      <mat-list-item> {{this.userpost.name | json}}</mat-list-item>
                      <mat-list-item> {{this.userpost.rating | json}}</mat-list-item>
                      <mat-list-item> {{this.userpost.message | json}}</mat-list-item>
                      <mat-list-item> {{this.userpost.date | json}}</mat-list-item>
                      </div>
          </mat-list>
          <!-- Preview list of the feedback! -->
          <mat-list>
           <mat-list-item> <p>{{ userpostForm.value.name | json}}</p><br> </mat-list-item>
            <mat-list-item>{{ userpostForm.value.rating | json }} <br> </mat-list-item>
            <mat-list-item>{{ userpostForm.value.message | json}} <br> </mat-list-item>
            <!-- <mat-list-item>{{ userpostForm.value.date | json}} <br> </mat-list-item> -->
          </mat-list>
        </mat-card-content>
      </mat-card>


    </div>

    <div fxFlex fxFlexOffset="20px" class="form-size">
        <h3>Submit your Review of the Dish</h3>
        <p>{{ userpostForm.value | json }} {{ userpostForm.status | json }}</p>

        <form novalidate [formGroup]="userpostForm" #fform="ngForm" (ngSubmit)="onSubmit()">
          <p>
            <mat-form-field class="half-width">
              <input matInput formControlName="name" placeholder=" Authors Name" type="text" required>
              <mat-error *ngIf="userpostForm.get('name').hasError('required') && userpostForm.get('name').touched">Authors name is required</mat-error>
              <mat-error *ngIf="formErrors.name">{{formErrors.name}}</mat-error>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field class="half-width">
              <input matInput formControlName="rating" placeholder="rating. Number" type="tel" pattern="[0-9]*" required>
              <!-- <mat-error *ngIf="userpostForm.get('rating').hasError('required') && feedbackForm.get('telnum').touched">Tel. number is required</mat-error>
              <mat-error *ngIf="formErrors.telnum">{{formErrors.telnum}}</mat-error> -->
              <mat-slider formControlName="rating" thumbLabel tickInterval="1" min="1" max="5" step="1" value="3"></mat-slider>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field class="full-width">
              <textarea matInput formControlName="message" placeholder="Your Feedback" rows=12 type="text" required></textarea>
              <mat-error *ngIf="userpostForm.get('message').hasError('required') && userpostForm.get('message').touched">Message is required</mat-error>
              <mat-error *ngIf="formErrors.message">{{formErrors.message}}</mat-error>
            </mat-form-field>
          </p>
          <button type="submit"  [disabled]="userpostForm.invalid" mat-button class="background-primary text-floral-white">Submit</button>
        </form>
    </div>
  </div>

<div [hidden]="dish">
  <mat-spinner></mat-spinner> Loading ... Please wait!
</div>

</div>

