<div class="container"
    fxLayout="row"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutAlign.gt-md="space-around center"
    fxLayoutGap="10px"
    fxLayoutGap.xs="0">

  <div fxFlex="100">
    <div fxFlex *ngIf="dish" >
      <mat-card *ngIf="dish">
        <mat-card-header>
          <mat-card-title>
            <!-- Task 2.3 Use pipe to uppercase dish.name -->
            <h3 *ngIf="dish" >{{dish.name | uppercase}}</h3>
          </mat-card-title>
        </mat-card-header>
        <img mat-card-image src={{dish.image}} alt={{dish.name}}>
        <mat-card-content>
          <p>{{dish.description}}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>

          <button mat-button (click)="goBack()"> Back</button>
          <button mat-button [routerLink]="['/dishdetail', prev]"><span class="fa fa-chevron-left fa-lg"></span></button>

          <span class="flex-spacer"></span>
          <button mat-button [routerLink]="['/dishdetail', next]"><span class="fa fa-chevron-right fa-lg"></span></button>

        </mat-card-actions>


      </mat-card>
    </div>
  </div>

<!-- In this task you will use the comments that are included in the dish object above to
  display a list of the comments for the dish. Please use your JavaScript knowledge to recall
  how you would access an inner property in a JavaScript object that itself points to an array of JavaScript
  objects (comments). This task involves the following steps:

  Use the Angular material list to display the list of comments as shown below. Also apply
  the *ngIf="dish" structural directive to both the <mat-list> that displays the list of comments for the dish.
  Display the date of the comment by processing it through the Angular built-in date pipe. -->

  <div fxFlex="40">

    <div fxFlex *ngIf="dish" >
      <mat-card *ngIf="dish">
        <mat-card-header>
          <mat-card-title>
           <h3>Comments</h3>
          </mat-card-title>
        </mat-card-header>
        <!-- <img mat-card-image src={{dish.image}} alt={{dish.name}}> -->
        <!-- <mat-card-content>
          <p>{{dish.description}}
          </p>
        </mat-card-content> -->

        <mat-card-content>
          <!-- Task 2.2 Use mat list  -->
          <mat-list>
              <div *ngFor="let comment of dish.comments">
                  <mat-list-item> {{comment.comment + ' '}} <br> </mat-list-item>
                  <mat-list-item> {{comment.rating + ' Stars'}} <br> </mat-list-item>
                  <mat-list-item>    {{comment.author + ' '}}
                  <!-- Task 3.2 Use date pipe  -->
                  {{comment.date | date}} </mat-list-item>

                   </div>
          </mat-list>




        </mat-card-content>


        <!-- <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>-->

      </mat-card>
    </div>


  </div>

<div [hidden]="dish">
  <mat-spinner></mat-spinner> Loading ... Please wait!
</div>

</div>

